<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeculator.foodlook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".admin.AdminHomeActivity"
            android:exported="false" />

        <receiver
            android:name=".steps.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".auth.ActivitySplash"
            android:exported="true"
            android:theme="@style/Theme.App.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.ActivityReview"
            android:exported="true" />
        <activity
            android:name=".steps.ActivityStep"
            android:exported="true"
            android:theme="@style/Theme.App.NoActionBar"></activity>
        <activity
            android:name=".steps.SubmitActivity"
            android:exported="true"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".recipes.ActivityAddIngredient"
            android:exported="true" />
        <activity
            android:name=".recipes.ActivityAddStep"
            android:exported="true" />
        <activity
            android:name=".recipes.ActivityAddRecipe"
            android:exported="true" />
        <activity
            android:name=".home.ActivityHome"
            android:exported="true" />
        <activity
            android:name=".auth.ActivityWelcome"
            android:exported="true"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".auth.ActivityRegister"
            android:exported="true"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".auth.ActivityLogin"
            android:exported="true"
            android:theme="@style/Theme.App.NoActionBar" />
    </application>

</manifest>